ing {
    width: 100px;
}
body{
text-align: center;
font-family: "Playfair Display", serif;
background-color: rgb(119, 228, 213);
    color: rgb(0, 0, 0);
    text-size-adjust:100px ;
    
.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}